version: '3'
services:
  postgres:
    image: postgres
    container_name: my-postgres-db
    environment:
      POSTGRES_DB: hrelix
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root101
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  springboot-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: springboot-app
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    volumes:
      - ./logs:/app/logs
    networks:
      - app-network

volumes:
  postgres-data:
    driver: local

networks:
  app-network:
    driver: bridge